<%
var items = data.items || [];
%>

<div class="wrap">
    <h1>This is the page.</h1>
    <ul>
        <% for (var i = 0, l = items.length; i < l; i++) { %>
            <%- tpls.item({ index: i, item: items[i] }) %>
        <% } %>
    </ul>
</div>